@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
 

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: #111111;
}
:root {
  --overlay-color: rgba(56, 51, 52, 0.7);
  --text-white-color: #ebeaea;
  --red-text-color: #ef3724;
  --nav-bg-color: rgba(128, 128, 128, 0.7);
}

header {
  padding-top: 20px;
  background: linear-gradient(
      to left,
      var(--overlay-color) 0%,
      var(--overlay-color) 100%
    ),
    url("./Assets/main-bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  background-color: var(--nav-bg-color);
}
nav div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-weight: 500;
  font-size: 44px;
  color: var(--text-white-color);
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  padding: 0 16px;
  font-size: 18px;
}
nav ul li.menu {
  color: var(--text-white-color);
  font-size: 24px;
  display: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-white-color);
}
.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.imageText p {
  color: var(--text-white-color);
  font-size: 28px;
  line-height: 1.6;
}
.imageText h2 {
  font-size: 68px;
  padding: 16px 0;
  font-weight: 600;
  color: var(--text-white-color);
}

.imageText h2 span {
  color: var(--red-text-color);
}
.imageText button {
  background-color: rgba(239, 56, 36, 0.2);
  color: var(--red-text-color);
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  font-size: 18px;
}
.aboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutMe .imageBox,
.aboutMe .aboutMeContent {
  width: 50%;
}
.imageBox,
.aboutMeContent {
  width: 100%;
  padding: 80px 0;
}
.aboutMeContent ul {
  list-style-type: none;
  margin: 50px 0 50px 30px;
}
.aboutMeContent ul li:nth-child(1):after,
.aboutMeContent ul li:nth-child(2):after {
  position: absolute;
  content: "";
  top: 100%;
  left: -20px;
  height: 100%;
  width: 20px;
  transform: translateY(-50%);
  border-left: 2px solid white;
  z-index: -1;
}
.aboutMeContent ul li:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -28px;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--red-text-color);
  border: 2px solid var(--text-white-color);
  border-radius: 50%;
}
.aboutMeContent ul li {
  position: relative;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-white-color);
}
.aboutMeContent button {
  padding: 8px 16px;
  border: 2px solid var(--red-text-color);
  background-color: transparent;
  transition: 0.5s;
}

.aboutMeContent button a {
  transition: 0.5s;
  text-decoration: none;
  color: var(--text-white-color);
  font-size: 16px;
}
.aboutMecontent button:hover > a {
  color: var(--text-white-color) !important;
}
.aboutMeContent button:hover {
  background-color: var(--red-text-color);
}
.aboutMeContent ul li span {
  color: var(--red-text-color);
  font-size: 24px;
  font-weight: 600;
}
.imageBox img {
  display: block;
  width: 100%;
}
.imageBox div {
  margin: 0 auto;
  position: relative;
  width: 40%;
  aspect-ratio: 1/1.2;
  z-index: 9;
}
.imageBox div::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* border: 5px solid #758283; */
  top: 5%;
  left: -12%;
  z-index: -1;
}

.portfolioSection {
  padding: 50px 0;
}
.portfoliotext {
  padding: 30px 0;
  color: var(--text-white-color);
}
.portfoliotext p {
  text-align: center;
  font-size: 24px;
}
.portfoliotext h3 {
  font-size: 48px;
  text-align: center;
}
.projects {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projectBox {
  width: 33.33%;
  aspect-ratio: 1/0.5;
}
.projectBox img {
  width: 100%;
  display: block;
  /* height: 250px; */
  object-position: center;
  object-fit: contain;
  transition: transform 0.5s ease;
}
/* .imageDiv {
  height: 300px;
  box-sizing: content-box;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}
 */

.imageDiv {
  height: 200px;
  display: flex;
  align-items: centerc;
  /* width: 90%; */
  /* margin: 10px; */
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.projectBox img:hover {
  transform: scale(1.15);
}
/* 
.imageDiv iframe {
  height: 100%;
} */

.projectBoxMargin {
  margin: 20px;
  background-color: #1e1e1e;
  box-shadow: 10px 11px 19px -5px rgba(0, 0, 0, 0.25);
  padding: 0 20px 0 20px;
}

.content {
  padding: 0 10px 24px 10px;
}
.content h4 {
  font-size: 12px;
  color: #758283;
  padding-bottom: 4px;
}

.content h3 {
  color: var(--text-white-color);
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.projectBox .btns {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.projectBox .btns button {
  outline: none;

  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 8px 8px;
  position: relative;
  outline: none;
  cursor: pointer;
}
.projectBox .btns button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: 0.5s;
  background-color: #ef4040;

  z-index: 0;
}
.projectBox .btns button:hover:before {
  width: 100%;
  color: var(--text-white-color);
}
.projectBox .btns button:hover a {
  color: var(--text-white-color);
  position: relative;
  z-index: 99;
}

.projectBox .btns button a {
  color: #ef4040;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.6s;
}

.aboutMeContent h2 {
  font-size: 54px;
  color: var(--text-white-color);
}
.aboutMeContent h3 {
  color: var(--red-text-color);
}
.aboutMeContent p {
  width: 80%;
  font-size: 18px;
  color: var(--text-white-color);
  padding: 20px 0;
}
.connectMeSection h2 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: var(--text-white-color);
  padding-bottom: 20px;
  font-size: 56px;
}

.connectMeSection .mainBox {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.connectMeSection .mainBox .leftBox img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  object-position: 0 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.connectMeSection .rightBox {
  width: 60%;
}
.connectMeSection .rightBox form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.connectMeSection .rightBox form input {
  margin-bottom: 20px;
  padding: 16px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-white-color);
  border-bottom: 2px solid gray;
}

.connectMeSection .rightBox form input::placeholder {
  color: var(--text-white-color);
}
.connectMeSection .leftBox {
  width: 40%;
}
.submitBtn {
  text-align: center;
  margin-top: 20px;
}
.submitBtn button {
  padding: 8px 16px;
  font-weight: 600;
  /* border: 2px solid var(--red-text-color); */
  background-color: #ef4040;
  border: none;
  color: var(--text-white-color);
}
footer {
  margin-top: 50px;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px 0;
}
footer p {
  color: var(--text-white-color);
}

/* body{
    background-color: rgb(17,17,17);
}
.container{
    margin-top:20px;
}
.dropdown {
     display: inline;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family:sans-serif;
    font-size: 12px;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color:rgb(255,51,67);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: sans-serif !important;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-bar{
    display:flex;
    flex-direction: row;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:40px;
  }
  .logo{
    background-color: rgb(255,51,67);
    margin-left: 20px;
  }
  .logo-img{
    display: flex;
    flex-direction: row;
    flex:2
  }
  .nav-link{
    text-decoration: none;
    color:#fff;
    margin-top:14px;
    font-family: sans-serif;
    margin-left: 25px;
    font-size: 12px;
  }
  .nav-link:hover{
    color:rgb(255,51,67);
  }
  .section-1{
    display: flex;
    flex-direction: row;
  }
  .men-logo{
    width:500px;
    background-color: grey;
    color: black;
  }
  .men{
    height: 10px;
   background-color:rgb(255,51,67);
  }
  .content{
    margin-top: 150px;
    font-family: sans-serif;
  margin-left: 50px;
  }
  .hello{
    color:rgb(255,51,67);
    font-weight: 800;
  }
  .designer{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    color:rgb(255,255,255);
    margin:0px
  }
  .lorem{
    padding-right: 150px;
    color:rgb(136,136,136);
    font-family:serif;
    font-size: 15px;
    font-weight: 100;
  }
  .about-me{
    color:rgb(255,255,255);
    background-color: rgb(255,51,67);
    padding:10px 20px;
    cursor:pointer
  }
  .section-2{
    background-color:rgb(24,24,24);
    height: 580px;
    width: 65%;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .cards{
    display:flex;
    flex-direction: row;
    /* position: relative; */
    /* margin-left: 150px;
    top:200px;
    width:100%;
    margin-top: 150px;
    background-color: rgb(24,24,24,) !important;
  }
  .card{
    background-color: rgb(24,24,24,) !important;
    padding:25px;
    margin:10px;
    width: 400px;
    border-radius: 3px;
    height: 150px;
    box-shadow: 0 0 10px 4px rgb(27,27,27);
  }
  .card:hover{
    background-color: rgb(255,51,67);
    color:#fff;
  }
  .card:hover .card-icon{
    color: #fff;
  }
  .card:hover .arrow{
    color: #fff;
  }
  .card:hover .know-more{
    color: #fff;
  }
  .card-title{
    color:#fff;
    margin:0px;
    margin-top:5px;
    font-family:sans-serif;
    font-size:18px
  }
  .card-content{
    color:#fff;
    font-size:13px;
    font-family: sans-serif;
  }
  .know-more{
    text-decoration: none;
    color:rgb(255,51,67);
    font-size: 12px;
    font-family: sans-serif;
  }
  
  .arrow{
    position: relative;
    top:8px;
    width: 5px;
    height: 3px;
    color: rgb(255,51,67);
  }
  .card-icon{
    color:rgb(255,51,67)
  }
  .experience{
    display: flex;
    flex-direction: row;
    position: relative;
    top:100px;
    left:200px;
  }
  .twelve{
    margin:20px;
    color:#fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;

  }
  .s1{
    font-size:60px;
    font-family:sans-serif;
    font-weight: 900;
    color:rgb(255,51,67);
  }
  
  .small-card{
    text-align:center;
    background-color: rgb(30,30,30);
    box-shadow: 0 0 10px 4px rgb(27,27,27);
    margin-top: 15px;
    padding:20px 50px;
    color:#fff;
    font-size: 10px;
    font-family: sans-serif;
  }
  .clients{
    margin-left: 20px;
  }
  .s2{
    font-size:20px;
    font-family:sans-serif;
    font-weight: 700;
    color:rgb(255,51,67);
    margin-bottom: 10px;
  }
  .experience08{
    margin-left: 20px;
}
.section3{
    margin-left:200px;
    margin-right: 200px;
    margin-top: 20px;
}
.featured{
    display: flex;
    flex-direction: row;
}
.feat-content>h3{
    color:#fff;
    font-family: sans-serif;
    font-weight: 800;
    margin:0px
}
.feat-content>p{
    color:rgb(166,166,166);
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 50;
}
.feat-btn{
    position: relative;
    top:20px;
    left:190px
}
.viewall{
    background-color:rgb(255,51,67);
    color:#fff;
    padding:10px 20px;
    font-size: 8px;
    border:0px;
    cursor:pointer;
}
.top-section{
    display: flex;
    flex-direction: row;
}
.card-img{
    width: 240px;
    position: relative;
    top:25px;
    left:20px

}
.img-card{
    background-color: rgb(30,30,30);
    margin:0px;
    width: 285px;
    height: 180px;
}
.imgright1{
    margin-left: 20px;
}
.img-sec{
    margin-top: 30px;
}
.vintage{
    color:#fff;
    margin:0px;
    font-family: sans-serif;
    margin-top:10px
}
.bottom-section{
    margin-top: 20px;
    display: flex;
    flex-direction: row; 
}
.bottom-section1{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.imgright2{
    margin-left: 20px;
}
.imgright3{
  margin-left: 20px;
}


.marco{
    height: 135px;
}
.let-section{
    background-color: rgb(30,30,30);
    width: 595px;
    height: 180px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 200px;
}
.together{
    width:65%;
    margin-left: 20px;
    margin-top: 20px;
}
.together>h3{
    color:#fff;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin:0px;
}
.together>p{
    color:rgb(166,166,166);
    font-size: 10px;
    font-family: sans-serif;
    line-height: 13px;
}
.contact{
    background-color:rgb(255,51,67);
    color:#fff;
    padding:10px 30px;
    font-size: 9px;
    border:0px;
    cursor:pointer;
}
.let-contact{
    position:relative;
    top:80px;
    left:30px
}
.footer-nav{
    margin: 50px;
    margin-left: 370px;
}
.footer-link{
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
    font-size:9px;
    font-family: sans-serif;
}
.fb{
    width: 30px;
    margin-left: 85px;
    cursor: pointer;
}
.footer{
    background-color: rgb(30,30,30);
}
.footer>img{
    padding-top:30px 
}
.footer-items{
    padding:30px;
}
.footer-logo{
    width: 80px;
    margin-left: 200px;
    background-color: rgb(255,51,67);
}
.fb{
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: rgb(45, 45, 201);
  color: #fff; 
}
.twitter{
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: rgb(45, 45, 201);
  color: #fff; 
}
.you{
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: rgb(177, 27, 27);
  color: #fff; 
} */ 
